version: "3.6"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile-backend
    hostname: backend-host
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile-frontend
    hostname: frontend-host
    volumes:
      - ./frontend:/app
    environment:
      - BACKEND_URL=http://backend-host:8000/api
    ports:
      - "3000:3000"
    depends_on:
      - backend
